#BookTable {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto; 
    height: auto;
    max-height: 200px; 
    max-width: 955px; 
    display:inline-block;
}

#MapContainer {
    margin-top: 10px;
}

.img {
    height: 100px;
    display: none;
}

.Coordinate {
    width: 100px;
}

.NewMethod {
    margin-top: 10px;
}

